<%= provide(:title, 'Joint trade portal') %>
<div class="center hero-unit">
     <h1>
      <%= link_to "Ласкаво просимо", "#", class: "btn btn-large btn-primary" %>
  </h1>
</div>
<table width="100%" cols="2">
  <tr>
    <td>
<div class="row">
   <div class="span9">
      <p align="center">  Шановні Хмельничани та гості Подільського краю! </p>
   </div>
</div>
<p>Даний портал створено для допомоги Хмельничанам, які не мають змоги чи бажання тратити свій дорогоцінний час у пошуках необхідних речей по крамницях нашої Хмельницької області, а також для юридичних та фізичних осіб, які бажають запропонувати вам свій товар та послуги.
    Завітавши до нас у любий вільний час доби ви зможете переглянути та вибрати для себе ту саму необхідну річ, на пошуки якої, можливо, ви потратили вже не один день.
    Асортимент, викладений на сайті, постійно добавляється та оновлюється. До даного проекту щодня долучаються нові компаньони та партнери, тому, якщо вам не вдалось одразу вподобати якийсь товар, не засмучуйтесь, він обов'язково вас знайде при наступному відвідуванні цього сайту. </p>
   <p> </p>
    <p> Для поціновувачів вишуканих речей створено окремий розділ <%= link_to "Брендовий одяг", "#" %>. Там ви зможете підібрати для себе стильний одяг від відомих відчизняних та іноземних виробників, якість та оригінальність продукції яких не викликає ніякого сумніву.</p> 
    <p> </p>
    <p>У розділі <%= link_to "Куплю-продам-обміняю", "#" %> ви можете також запропонувати і свої товари, які можуть бути необхідні іншим землякам. </p>
<p> </p>
    <p> Запрошуємо до співпраці усіх, хто бажає швидко та зручно донести до потенційного покупця свій товар, чи послуги.
    </p>
    <p>Будемо раді почути від вас пропозиції, нові ідеї по розвитку даного gjhnfke, які можна направляти на електронну адресу <b>bydua@mail.ru</b> 
    Ми обов'язково їх розглянемо і намагатимемость їх реалізувати. </p>
    <p> </p>
    <p> Зичимо вам та вашій родині щастя добробуту та процвітання! </p>.</td>
    </tr>
</table>

   <h1>
      <%= link_to "Ласкаво просимо", "#", class: "btn btn-large btn-primary" %>
  </h1>

