<%= provide(:title, '') %>

<div class="row">       
      <div class="col-sm-7 col-xs-10 col-md-6 col-xs-offset-2 col-sm-offset-2 col-md-offset-3">
            <div id="myCarousel" class="carousel slide" style="margin-top: -2.2%;" data-ride="carousel">
                      <!-- Carousel items -->
                      <ol class="carousel-indicators">
                           <li class="active" data-target="#myCarousel" data-slide-to="0" ></li>
                           <li data-target="#myCarousel" data-slide-to="1"></li>
                           <li data-target="#myCarousel" data-slide-to="2"></li>        
                      </ol>
                  <div class="carousel-inner">
                      <div class="item active">
                        <%= link_to image_tag("slide.jpg", alt: "Женские новинки"), "#" %>
                           <!--<img src="reklama.jpg" alt="Proba1" title=""> -->
                      </div>
                      <div class="item">
                           <%= link_to image_tag("slaid2.jpg", alt: "Мужские пуджаки"), "#"  %>
                      </div>
                      <div class="item">
                           <%= link_to image_tag("slide2.jpg", alt: "Молодежный товар"), "#" %>
                      </div>
                  </div>
                      <!-- Carousel nav -->
<!--                      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>  -->
<!--                      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> --> 
            </div>
      </div>
</div>  
<br>

         <%= link_to image_tag("menu icon (1).jpg", alt: "",  class: "col-sm-3 col-xs-1 col-md-2 col-md-offset-2"), "#" %>
         <%= link_to image_tag("menu icon (2).jpg", alt: "",  class: "col-sm-3 col-xs-1 col-md-2"), "#" %>
         <%= link_to image_tag("menu icon (3).jpg", alt: "",  class: "col-sm-3 col-xs-1 col-md-2"), "#" %>
         <%= link_to image_tag("menu icon (4).jpg", alt: "",  class: "col-sm-3 col-xs-1 col-md-2"), "#" %>


         <%= image_tag("nakladka.png", alt: "",  title: "",  class: "col-sm-3 col-xs-1 col-md-2 col-md-offset-2", style: ["border: 0px;", "margin-top: -3%;"]) %>
         <%= image_tag("nakladka.png", alt: "",  title: "",  class: "col-sm-3 col-xs-1 col-md-2", style: ["border: 0px;", "margin-top: -3%;"]) %>
         <%= image_tag("nakladka.png", alt: "",  title: "",  class: "col-sm-3 col-xs-1 col-md-2", style: ["border: 0px;", "margin-top: -3%;"]) %>
         <%= image_tag("nakladka.png", alt: "",  title: "",  class: "col-sm-3 col-xs-1 col-md-2", style: ["border: 0px;", "margin-top: -3%;"]) %>

    <div class="col-sm-3 col-xs-1 col-md-2 col-md-offset-2" style="margin-top: -14%;">
        <span class="ws10"><font face="Century Gothic" color="#ffffff"><center>Мужские аксессуары</center></font></span>
    </div>
    <div class="col-sm-3 col-xs-1 col-md-2 col-sm-offset-3 col-md-offset-4" style="margin-top: -14%;">
       <span class="ws10"> <font face="Century Gothic" color="#ffffff"><center>Женские аксессуары</center></font></span>
    </div>
    <div class="col-sm-3 col-xs-1 col-md-4 col-sm-offset-6 col-md-offset-5" style="margin-top: -14%;">
        <span class="ws10"> <font face="Century Gothic" color="#ffffff"><center>Детские аксы</center></font></span>
    </div>
    <div class="col-sm-3 col-xs-1 col-md-2 col-sm-offset-9 col-xs-offset-7 col-md-offset-8" style="margin-top: -14%;">
       <span class="ws10"> <font face="Century Gothic" color="#ffffff"><center>Все подряд</center></font></span>
    </div>

