<footer >
    
    <div class="block_anons clearfix">
        <hr>
        <div class="inside_block_footer"><%= link_to "Компания", about_path, class: ["cat", "ws13"] %></div>
        <div class="inside_block_footer"><%= link_to "Доставка и оплата", "#", class: ["cat", "ws13"] %></div>
        <div class="inside_block_footer"><%= link_to "Обмен и возврат", "#", class: ["cat", "ws13"] %></div>
        <div class="inside_block_footer"><%= link_to "Контакты", "#", class: ["cat", "ws13"] %></div>
        <div class="inside_block_footer"><%= link_to "Партнерам", about_path , class: ["cat", "ws13"] %></div>
    </div>
<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-5 col-md-offset-1 col-sm-offset-1">
        <div class="ws8 reserved">
            <span color="#C0C0C0";>© 2014 CITY mix - All rigts reserved</span>
        </div>
    </div>
</div>
</footer>